
<div class="container mt-5">
    <h1>INI INDEX</h1>
    <p>INDEX</p>
    <a href="/contact" class="btn btn-primary"> Go to Contact</a>
    <p>Tombol ke halaman Todos</p>
    <a href="/todo-list" class="btn btn-primary"> Go to Todos</a>
</div>